:root {
  --section-color: white;
}

.grid-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

section {
  background-color: var(--section-color);
}

section:nth-child(2n) {
  background-color: hsl(from var(--section-color) h s calc(l - 20));
}

.svg-red circle {
  fill: red;
}

.svg-blue circle {
  stroke: blue;
  stroke-width: 2;
  fill: none;
}

@media (max-width: 768px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
  }
}

@media (min-width: 769px) {
  .grid-wrapper {
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
  }
}
